@import "../abstract/variaveis";

.principal__conteudo {
    box-sizing: border-box;
    column-gap: 15px;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    margin: 0 2em;
    div {
        background-color: $cor-secundaria;
        border-radius: 15px;
        box-sizing: border-box;
        padding: 1em;
        h2 {
            color: $cor-primaria;
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 1em;
        }
        .objetivos__lista {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            font-size: 20px;
            line-height: 1.5em;
            li {
                margin: 0 1em 1.5em 0;
            }
        }
        p {
            line-height: 1.4em;
        }
    }
}