// Variáveis gerais
$cor-da-fonte: #000000;
$tamanho-da-fonte: 16px;
$peso-da-fonte: 400;
$familia-da-fonte: "Roboto", sans-serif;
$estilo-da-fonte: normal;

$preto: #000000;
$branco: #FFFFFF;
$cor-primaria: #474647;
$cor-secundaria: #A3A3A3;
$cor-terciaria: #C8EFFE;
$cor-quaternaria: #3EC3A4;
$cor-quinaria: #6FD7A3;
